/** @format */

@font-face {
  font-family: landasans;
  src: url("../fonts/christmas/LastChristmas_PERSONAL_USE_ONLY.otf");
}

.viaButton {
  background-color: rgba(206, 0, 0, 0.762);
  border: 1px solid rgb(129, 0, 0);
  margin: 5px;
  border-radius: 8px;
  padding: 0 10px;
  color: white;
}
.eatContainer {
  width: 1124;
  margin: 0 auto;
}

.quote {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: landasans;
  font-weight: bold;
  font-style: italic;
}

.pageBody {
  padding-top: 50px;
}

input:focus {
  outline: none;
}

.eatransfers {
  color: rgb(41, 41, 41);
}
.eatransfers > .main {
  background-image: url("../eat/background_christmas.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.eatransfers .header {
  height: 100px;
  line-height: 100px;
  padding-left: 20px;
  color: white;
}

.eatransfers .pageTitle {
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2;
}
.eatransfersBody {
  margin-top: 50px;
  background: #ffffff;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.tabs {
  border-radius: 8px;
  border: 1px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 4px 20px;
  color: white;
}
.activeTab {
  background: linear-gradient(0deg, rgb(214, 36, 36) 0%, rgb(119, 0, 0) 100%);
}

.inActiveTab {
  background: linear-gradient(
    0deg,
    rgb(255, 179, 85) 0%,

    rgb(237, 225, 60) 100%
  );
}
.phoneBox {
  color: wheat;
  border: 1px solid wheat;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(0deg, rgb(214, 36, 36) 0%, rgb(119, 0, 0) 100%);
}

.transferFormComponents div {
  border: 1px solid gray;
  padding: 0 7px 0 20px;
  background: #fff;
  margin: 10px;
  border-radius: 10px;
}

.transferFormComponents input {
  padding: 5px 10px;
  width: 100%;
}

.tabsContainer {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
}
.typography {
  padding-top: 60px;
  padding-left: 50px;
}

.row2 {
  margin: 20px;
}

.p1 {
  font-family: landasans;
  font-size: 70px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 20px #fff;
}

.p2 {
  font-family: landasans;
  font-size: 40px;
  color: rgb(255, 244, 125);
  text-shadow: 0 0 20px #ffffff;
  padding-left: 20px;
  display: inline-block;
}

.transferFormComponents > .buttonBox {
  border: unset;
  background: unset;
  padding: unset;
  text-align: right;
}

.buttonBox > button {
  border: 1px solid rgb(255, 222, 222);
  padding: 4px 16px;
  border-radius: 8px;
  color: wheat;
}

.resetButton {
  background: rgb(255, 166, 0);
}

.submitButton {
  background: rgb(188, 0, 0);
}

.aboutus p {
  padding-top: 20px;
  line-height: 1.5;
  font-size: medium;
}

.imagesWrapped {
  float: left;
  width: 600px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.imagesWrappedRight {
  float: right;
  padding-left: 24px;
  padding-right: unset;
  padding-bottom: unset;
}
.address {
  padding-top: 20px;
}
.address p {
  padding: 0;
}
.footer p {
  font-size: small;
  letter-spacing: 0;
}
.customHeader {
  background-color: rgba(170, 0, 0, 0.6);
}

.topMenu {
  color: white;
}
.topMenu a {
  color: wheat;
}
.topMenu a:hover {
  color: rgb(255, 255, 255);
}
