.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.02em 10px;
  grid-auto-rows: 10px;
  grid-auto-flow: dense;
}

.arrow {
  font-size: 80px;
  color: white;
}

.gallery img {
  width: 100%;
  grid-row-end: span 2;
}

.imgNavigator {
  position: fixed; 
  z-index: 2;
  top: 45%;
  width: 100%;
  padding: 0 80px;
  left: 0; 
}

.imgNavigator .left {
  float: left; 
  height: 48px;
  width: 48px;
  transition: all .2s ease-in-out; 
}
.imgNavigator .left:hover {
  transform: scale(1.5); 
}

.imgNavigator .right {
  float: right; 
  height: 48px;
  width: 48px; 
  transition: all .2s ease-in-out; 
}

.imgNavigator .right:hover {
  transform: scale(1.5); 
}

.largeImage {
  display: block;
}

.largeImage img {
  width: calc(100vw - 85px);
  z-index: 1;
  border: 10px solid #000;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.largeImageAnimation {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.disabled {
  opacity: 0.3;
}
