.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 0.02em 10px;
  grid-auto-rows: 10px;
  grid-auto-flow: dense;
}

.arrow {
  font-size: 80px;
  color: white;
}

.gallery img {
  width: 100%;
  grid-row-end: span 2;
}

.imgNavigator {
  position: absolute;
  font-weight: bold;
  z-index: 102;
  top: 45%;
  width: 100%;
  padding: 0 50px;
}

.imgNavigator div {
  background: white;
  border: 2px solid #ccc;
  height: 20px;
  width: 60px;
  text-align: center;
}

.imgNavigator .left {
  float: left;
}

.imgNavigator .right {
  float: right;
}

.largeImage {
  display: block;
}

.largeImage img {
  height: calc(100vh - 85px);
  z-index: 101;
  border: 10px solid white;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.largeImageAnimation {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.disabled {
  opacity: 0.3;
}
