.main {
  vertical-align: middle;
}
.profilePic {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  border: 1px solid gray;
  margin: 0 auto;
  background-image: url('../assets/appImages/profilePic.jpg');
  background-repeat: no-repeat;
  background-size: 150px;
}

.description {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
