.appNav {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgrey;
  text-align: left;
  letter-spacing: 1.5px;
  padding-left: 5px;
  margin: 0;
}

.hamburger {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  list-style: none;
}

.appNav li {
  display: inline-block;
}
.appNav li a {
  text-decoration: none;
  color: #333;
}

.appNav li a:hover {
  text-decoration: none;
  color: #0096ff;
  font-weight: bold;
}

.appNav .active {
  color: #0096ff;
  font-weight: bold;
  border-bottom: 3px solid #0096ff;
}

.subNavContainer {
  text-align: right;
}
.userInfo {
  float: right;
  padding: 6px;
}

@media (max-width: 768px) {
  .userInfo {
    padding: 12px;
  }
  .appNav {
    display: none;
  }
  .appNav li {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .show {
    display: block;
    position: absolute;
    min-width: 360px;
    right: 0;
    top: 87px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
  }
}

.hide {
  display: none;
}
.bodyContents {
  background-size: cover;
  height: calc(100vh - 78px);
}

.home {
  background-image: url("../../App/Photography/photos/yosemite.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation {
  height: 30px;
}

.navigation ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
}

.navigation li a:hover {
  color: #0096ff;
  font-weight: bold;
  text-decoration: none;
}
.navigation .active {
  font-weight: bold;
  color: #0096ff;
}

.navigation ul li a {
  color: #333;
}

.navigation ul li a:active {
  color: #0096ff !important;
}
