@font-face {
  font-family: NanumGothic-Regular;
  src: url("./App/assets/Fonts/Nanum_Gothic/NanumGothic-Regular.ttf");
}

body * {
  font-family: NanumGothic-Regular;
  color: #595e65;
  font-size: 13px;
}

html,
body {
  height: 100%;
  margin: 0;
}

.footer {
  height: 30px;
  background: lightslategray;
  color: white;
  /* position: fixed; */
  width: 100%;
  padding-left: 20px;
  line-height: 30px;
}
.tagline {
  font-size: 8px;
  letter-spacing: 5px;
}

.appName {
  font-size: 30px;
  letter-spacing: 2px;
}
.scrollableContainer {
  overflow: hidden;
  overflow-y: scroll;
  height: 400px;
}

.commonBodyContainer {
  background: yellow;
  padding: 10px;
}

.leftAlign {
  text-align: left;
}

.logo {
  padding: 15px;
  background: white;
}
pre {
  color: red !important;
  text-decoration: underline;
  font-style: italic;
}

.guessWordInputField {
  font-size: 20px;
  letter-spacing: 1px;
  color: green;
  padding: 0 10px;
  font-weight: bold;
  border: 1px solid green;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: auto 0;
  background: rgba(255, 255, 2555, 0.5);
}

.createPostButton {
  color: white;
  font-size: 1rem;
}

.mt50 {
  margin-top: 50px;
}
